<!DOCTYPE html>
<html>
  <head>
    <title>Arioso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          <div class="flash-messages">
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                      {{ message }}
                  </div>
              {% endfor %}
          </div>
      {% endif %}
    {% endwith %}
  <header>
    <div class="container">
      <h1 class="logo">
        <a href="{{ url_for('home') }}">
          <img src="{{ url_for('static', filename='Arioso_Logo-03.png') }}" alt="Arioso Logo">
        </a>
      </h1>
      <nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('comments_page') }}">Comments</a></li>

        </ul>
      </nav>
    </div>
  </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
