.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: rgb(106, 52, 232);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.loading-btn {
  background-color: gray;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}

.success {
  color: green;
  font-size: 12px;
  margin-bottom: 8px;
}

p {
  margin-top: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

  